table {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(even){
    background-color: lightblue;
}

/* tr:nth-child(even) {
background-color: solid blue;
} */

tr:nth-child(odd) { 
    background-color: lightyellow;
} 

span { 
    color: red;
    margin-left: 10px; 
    position: absolute;
    font-size: large;
}

#a{  
    font-weight:bold ;  
    text-decoration: underline; 
    text-decoration-color: black;
    color:rgb(145, 2, 2);
}

p{
    font-weight: bold;  
}
 
div {
    height:75%;   
    overflow: auto; 
}