table {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(even){
    background-color: lightblue;
}

/* tr:nth-child(even) {
background-color: solid blue;
} */

tr:nth-child(odd) { 
    background-color: lightyellow;
} 

#a{  
    font-weight:bold ;  
    text-decoration: underline; 
    text-decoration-color: black;
    color:rgb(145, 2, 2);
}

#b {
    color: red;
}

div {
    height:80%;   
    overflow: auto; 
}