#a{ 
    font-weight:bold ;  
    text-decoration: underline; 
    text-decoration-color: black;
    color:rgb(145, 2, 2);
}

input{
    color: blue;
}
 
button{ 
    color: green;
}

#c {
    color: red;
}

#b {
    color: red;
    margin-left: 10px; 
    position: absolute;
    font-size: large;
}