<br><br>
<!-- <a [routerLink]="['/companyIsExist']" routerLinkActive="router-link-active"><button>isCompanyExist</button></a> -->
<a [routerLink]="['/companyAddCoupon']" routerLinkActive="router-link-active"><button>addCoupon</button></a><br><br>
<a [routerLink]="['/companyUpdateCoupon']" routerLinkActive="router-link-active"><button>updateCoupon</button></a><br><br>
<a [routerLink]="['/companyDeleteCoupon']" routerLinkActive="router-link-active"><button>deleteCoupon</button></a><br><br>
<a [routerLink]="['/companyGetCoupons']" routerLinkActive="router-link-active"><button>getCompanyCoupons</button></a><br><br>
<a [routerLink]="['/companyGetCouponsByCategory']" routerLinkActive="router-link-active"><button>getCompanyCouponsByCategory</button></a><br><br>
<a [routerLink]="['/companyGetCouponsLessThanPrice']" routerLinkActive="router-link-active"><button>getCompanyCouponsLessThanPrice</button></a><br><br>
<a [routerLink]="['/companyGetDetails']" routerLinkActive="router-link-active"><button>getCompanyDetails</button></a><br><br>

	
  