<p id=a>Please Choose A Customer To Update:</p>
<div>
    <table>
        <tr> 
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>password</th>
            <th>coupons</th>
        </tr>
        <tr *ngFor="let c of customers">
            <td>{{c.id}}</td>
            <td><a routerLink="/customerToUpdate/{{c.id}}" routerLinkActive="routerLinkActive">{{c.firstName}}</a></td>
            <td>{{c.lastName}}</td>
            <td>{{c.email}}</td>
            <td>{{c.password}}</td>
            <td>{{c.coupons}}</td>
        </tr>
    </table>  
</div>
<br>
<a [routerLink]="['/admin']" routerLinkActive="router-link-active" >
    <button id=b>
        back
    </button>
</a> 
<!-- <p *ngFor="let c of coupons"> {{c.title}} </p>  -->