<br><br>
<a [routerLink]="['/customerPurchaseCoupon']" routerLinkActive="router-link-active"><button>Purchase coupon</button></a> <br><br>
<a [routerLink]="['/getCustomerCoupons']" routerLinkActive="router-link-active"><button>Watch Your Coupons</button> <br><br></a>
<a [routerLink]="['/getCustomerCouponsByCategory']" routerLinkActive="router-link-active" ><button>Watch Your Coupons By Category</button> <br><br> </a>
<a [routerLink]="['/getCustomerCouponsByMaxPrice']" routerLinkActive="router-link-active"><button>Watch Your Coupons By Maximum Price</button> </a><br><br>
<a [routerLink]="['/getCustomerDetails']" routerLinkActive="router-link-active"> <button>Watch Your Details</button></a> <br><br>






